## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dingle,PH,10.9995,122.6711,78.17,80,81,16.46,broken clouds
1,1,Bathsheba,BB,13.2167,-59.5167,78.80,73,40,17.27,scattered clouds
2,2,Ribeira Grande,PT,38.5167,-28.7000,63.12,91,94,21.79,overcast clouds
3,3,Qaanaaq,GL,77.4840,-69.3632,-5.67,80,100,2.84,overcast clouds
4,4,Punta Arenas,CL,-53.1500,-70.9167,51.80,62,0,26.46,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dingle,PH,10.9995,122.6711,78.17,80,81,16.46,broken clouds
1,1,Bathsheba,BB,13.2167,-59.5167,78.80,73,40,17.27,scattered clouds
5,5,Hobart,AU,-42.8794,147.3294,75.00,40,40,10.36,scattered clouds
13,13,New Norfolk,AU,-42.7826,147.0587,75.00,26,4,4.00,clear sky
14,14,Rikitea,PF,-23.1203,-134.9692,79.57,70,0,10.74,clear sky
19,19,Mozarlandia,BR,-14.7447,-50.5706,75.52,80,100,0.38,overcast clouds
20,20,Vaini,TO,-21.2000,-175.2000,86.00,79,75,13.80,broken clouds
23,23,Yulara,AU,-25.2406,130.9889,87.80,23,79,18.41,broken clouds
32,32,Ballina,AU,-28.8667,153.5667,80.60,69,75,10.36,broken clouds
36,36,Mahanoro,MG,-19.9000,48.8000,75.79,87,24,3.38,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dingle,PH,10.9995,122.6711,78.17,80,81,16.46,broken clouds
1,1,Bathsheba,BB,13.2167,-59.5167,78.80,73,40,17.27,scattered clouds
5,5,Hobart,AU,-42.8794,147.3294,75.00,40,40,10.36,scattered clouds
13,13,New Norfolk,AU,-42.7826,147.0587,75.00,26,4,4.00,clear sky
14,14,Rikitea,PF,-23.1203,-134.9692,79.57,70,0,10.74,clear sky
...,...,...,...,...,...,...,...,...,...,...
658,658,Mattru,SL,7.6244,-11.8332,75.58,87,42,1.16,scattered clouds
659,659,Benguela,AO,-12.5763,13.4055,75.38,82,100,3.85,overcast clouds
665,665,Bac Lieu,VN,9.2850,105.7244,78.49,70,38,17.60,scattered clouds
677,677,Takoradi,GH,4.8845,-1.7554,78.93,89,46,5.88,scattered clouds
679,679,Guarapari,BR,-20.6667,-40.4975,78.80,78,75,6.91,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dingle,PH,78.17,broken clouds,10.9995,122.6711,
1,Bathsheba,BB,78.80,scattered clouds,13.2167,-59.5167,
5,Hobart,AU,75.00,scattered clouds,-42.8794,147.3294,
13,New Norfolk,AU,75.00,clear sky,-42.7826,147.0587,
14,Rikitea,PF,79.57,clear sky,-23.1203,-134.9692,
19,Mozarlandia,BR,75.52,overcast clouds,-14.7447,-50.5706,
20,Vaini,TO,86.00,broken clouds,-21.2000,-175.2000,
23,Yulara,AU,87.80,broken clouds,-25.2406,130.9889,
32,Ballina,AU,80.60,broken clouds,-28.8667,153.5667,
36,Mahanoro,MG,75.79,few clouds,-19.9000,48.8000,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522",
}



# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

## I am sorry, but I am in China right now and I am not able to purchase the google maps platform with an credit card because it always says my ip or something else is wrong. So my results for this is always skipping.

In [8]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dingle,PH,78.17,broken clouds,10.9995,122.6711,
1,Bathsheba,BB,78.80,scattered clouds,13.2167,-59.5167,
5,Hobart,AU,75.00,scattered clouds,-42.8794,147.3294,
13,New Norfolk,AU,75.00,clear sky,-42.7826,147.0587,
14,Rikitea,PF,79.57,clear sky,-23.1203,-134.9692,
...,...,...,...,...,...,...,...
658,Mattru,SL,75.58,scattered clouds,7.6244,-11.8332,
659,Benguela,AO,75.38,overcast clouds,-12.5763,13.4055,
665,Bac Lieu,VN,78.49,scattered clouds,9.2850,105.7244,
677,Takoradi,GH,78.93,scattered clouds,4.8845,-1.7554,
679,Guarapari,BR,78.80,broken clouds,-20.6667,-40.4975,

In [17]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df.dropna(how = 'all')

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dingle,PH,78.17,broken clouds,10.9995,122.6711,
1,Bathsheba,BB,78.80,scattered clouds,13.2167,-59.5167,
5,Hobart,AU,75.00,scattered clouds,-42.8794,147.3294,
13,New Norfolk,AU,75.00,clear sky,-42.7826,147.0587,
14,Rikitea,PF,79.57,clear sky,-23.1203,-134.9692,
...,...,...,...,...,...,...,...
658,Mattru,SL,75.58,scattered clouds,7.6244,-11.8332,
659,Benguela,AO,75.38,overcast clouds,-12.5763,13.4055,
665,Bac Lieu,VN,78.49,scattered clouds,9.2850,105.7244,
677,Takoradi,GH,78.93,scattered clouds,4.8845,-1.7554,
679,Guarapari,BR,78.80,broken clouds,-20.6667,-40.4975,

In [19]:
# 8a. Create the output File (CSV)
output_data_file ="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))